@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Reset */
* {margin: 0; padding: 0;}

/* Variáveis */
:root {
    --fonte1: Verdana, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/* Header */
header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 60px 0px;
}
header > h1{
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p {
    font-family: var(--fonte1);   
}
header > p > a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
/* Sections */

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
}
/* Section imp */



/* Section par */









/* Atribuições generalistas */
a:hover {
    text-decoration: underline #fff;
}