/* Utilização de fontes baixadas */
@font-face {
    font-family: "iDroid";
    src: url(media/idroid.otf) format("opentype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url(media/BebasNeue-Regular.otf) format("opentype");
}

/* Criação de variáveis para cores e fontes */
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --cor6: #E8E5C2;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'iDroid', sans-serife;
}
/* Body */
body{background-color: var(--cor6);}

/* Header */
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}
header > h1{
    color: #fff;
    font-family: var(--fonte1);
    font-size: 3em;
    text-align: center;
    padding: 30px;
}
header > p{
    color: #fff;
    font-family: var(--fonte0) ;
    text-align: center;
    padding-bottom: 30px;
}
header > nav {padding-bottom: 15px;}
header > nav > a{
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--fonte0);
    padding: 10px 15px;
    border-radius: 5px;
}
header > nav > a:hover {
    background-color: var(--cor4);
    transition: .3s ease-in-out;
}

/* Main */
main {
    background-color: #fff;
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 5px;
    padding: 1.5em;
}
main > h1,h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
}
main > h1 {
    font-size: 1.6em;
    padding-bottom: 20px;
}
main > h2 {
    font-size: 1.2em;
    padding: 5px;
    margin: 10px 0px;
    background-image: linear-gradient(to right, var(--cor2), rgba(255, 255, 255, 0));
}
main > p {
    text-indent: 1.5em;
    font-family: var(--fonte0);
    line-height: 1.5em
}