/* Utilização de fontes baixadas */
@font-face {
    font-family: "iDroid";
    src: url(media/idroid.otf) format("opentype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url(media/BebasNeue-Regular.otf) format("opentype");
}

/* Criação de variáveis para cores e fontes */
:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --cor6: #E8E5C2;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'iDroid', sans-serife;
}
/* Body */
body{background-color: var(--cor6);}

/* Header */
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-shadow: 2px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
}
header > h1{
    color: #fff;
    font-family: var(--fonte1);
    font-size: 3em;
    text-align: center;
    padding: 48px;
}
header > p{
    color: #fff;
    font-family: var(--fonte0) ;
    text-align: center;
    padding-bottom: 60px;
    font-size: 1.2em
}
header > nav {padding-bottom: 15px;}
header > nav > a{
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--fonte0);
    padding: 10px 5px;
    margin-left: 10px;
    border-radius: 5px;
}
header > nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    transition: .5s ease-in-out;
}

/* Main */
main {
    position: relative;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    padding: 1.5em;
    min-width: 375px;
    max-width: 1000px;
}
main > h1,h2 {font-family: var(--fonte2); }

main > h1 {
    color: var(--cor5);
    font-size: 1.8em;
    padding-bottom: 20px;
}
main > h2 {
    color: var(--cor4);
    font-size: 1.2em;
    padding: 5px;
    margin: 10px 0px;
    background-image: linear-gradient(to right, var(--cor2), rgba(255, 255, 255, 0));
}
main > p {
    text-align: justify;
    text-indent: 1.5em;
    font-family: var(--fonte0);
    line-height: 2em
}
/* Imagens */
img {padding: 30px 0px;}
.img-full {width: 100%;}
.img-center {display: block; margin: auto;}

/* iframe */
iframe {
    margin: 2.5% 5% 2.5% 5%;
    width: 90%;
    height: 90%;
}
.iframe-pai {
    margin: 15px 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 600px;
    background-color: var(--cor5);
}
main > aside{
    margin-top: 630px;
}

/* Classes */
.hyperlink {
    font-weight: bolder;
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    padding: 3px 4.5px;
}